<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<title>はてなダイアリー - previewの日記</title>
<link rel="stylesheet" href="http://d.hatena.ne.jp/css/base.css" type="text/css" media="all">
<link rel="stylesheet" href="http://d.hatena.ne.jp/theme/hatena/hatena.css" type="text/css" media="all">
</head>
<body>

<div class="hatena-body">
<div class="main">
<div id="days">
<div class="day">

<h2><a href=""><span class="date"><%= date.strftime("%Y-%m-%d") %></span></a> 
<span class="title"><%=h title %></span></h2>

<div class="body">
<%= body %>
</div>
</div></div></div></div>
</body></html>
